div {
    display: flex;
    margin-bottom: 4rem;
    font-family:Georgia, 'Times New Roman', Times, serif;
}

span {
    display: flex;
}

.map-icon {
    margin-left: 1rem;
    margin-right: 6px;
}

.watch-icon {
    margin-right: 6px;
}