<nav id="filterNav">
    <button id="iconBtn" mat-icon-button [matMenuTriggerFor]="menu" aria-label="Example icon-button with a menu">
        <mat-icon>more_vert</mat-icon>
    </button>
    <span>Reportes novedades</span>
    <img
        width="40"
        height="44"
        src="
            data:image/jpeg;base64,/9j/4AAQSkZJRgABAQAAAQABAAD/2wCEAAkGBxAQEBAQDxEREBAVEBEQEBUSDxYQERASGBUYFhcWFhcZHS
            giGB8lHhUXJTEhJTUrLi4uFyAzODMvNygtLysBCgoKDg0OGxAQGzcfHh8rLi8vKy0rLy0tKystNy8tLS4tLi8tLS0tLS0tNS0tKy0tLS0
            tLS0tLS0tLSstLS0tLf/AABEIAMgAyAMBIgACEQEDEQH/xAAcAAEAAwADAQEAAAAAAAAAAAAABQYHAQMEAgj/xAA6EAACAgEBBQUFBgYC
            AwEAAAABAgADEQQFBhIhMRMiQVFxBzJhgZEUI3KhscFCUmKy4fAzknPC0UP/xAAZAQEAAwEBAAAAAAAAAAAAAAAAAgMEBQH/xAApEQACA
            QQBAwQCAgMAAAAAAAAAAQIDBBESMSFBUQUTImEUMqGxFXGR/9oADAMBAAIRAxEAPwDcYiIAiIgCIiAIiIAiIgCIiAIiIAiIgCIiAIiIAi
            IgCIiAIiIAiIgCIiAIiIAiIgCIiAIiIAiIgCIiAIiIAiIgCIiAIiIAiIgCIiAIiIAiIgCIiAIicE45mAJ0anV11jNjqo+JAzK3tneY5Ka
            f0L+f4R+8rNljMSzEsfEk5JmulaSksy6HJufVIU3rBZf8F5t3l0o6OW9EP7zx178bPLcLWtW2cYepx+eMSmPZiVjazh7SV8gCfM/7+k0q
            ypvuV2/qFacvkuhu2j1tVy8VNiWL5owYflPRPz5o9TZS4ep2rcdCrYP+Zo+6W/YtK06zCueS2juq58mH8J+PT0metZSgsx6o6NO5jLo+h
            fYiJjNIiIgCIiAIiIAiIgCIiAIiIAiIgCIiAcSqb2bVP/Ahxy+8I/tlm1VwrR3PRVLH5DMzO+4szOxySST6ma7SltLL7HK9UuHCChHl/
            wBCussQqglicADqTLZsvddAA1/eb+UHuj1PjPnc7Z44ftDDmciv4L0J+f7SzyVzcPOsSr0+wjqqlRZb4R0U6StBhEVfRQP0nVq9mUXDFt
            Nb/iQE/WeyJj2fk7GscYwZ9vJ7P1wbNFkEczUxyD+A/sZnz1EEgjBBwQRgg9PlP0FM89ouw1DLqqxjiPBaBy73g3zxj5CdC1uW3pMx3FB
            JbRPd7PN4Dcn2W45sQZrYnm6eXxI/Q/CXWYjsnUNp76rl6o4J+K9CPmCZtiOCARzBGR6Sm8pKE8rhllrV3jh9j7iImQ1CIiAIiIAiIgCI
            iAIiIAiIgCIiARO9FnDpbSP6R9WA/eZtbdNI3qrLaO8DwUN/1IY/pMnuunUsf0f+zieo09qyf0bHsmsJRSo8K0H5CeuR27uqFulocc81q
            D+Id0/mDJGc2ednk7EMarBzERIkziRW9NAfR3g/ycXzU8X7SVkVvPdw6WzzYBB8cnH6Zk6Wd1jyVV2lTk34ZlRpmt7AfOl05PXskH0AEz
            Xspp2yKuCilT1Fag+uOc33z+KOV6XPaUj2RETmnaEREAREQBERAEREAREQBERAEREA67qw6srDIYFSPMGYhtnSPp7rKX6oxAPmOoPzBm5
            Spb97tHVJ21Izegxgf/qnl6jJxNVpWVOWHwzLc0t45XKIH2d7wrUx0tpwjtmok8lc8uHn5/r6zS5+eXyCQeRBwR5f/Jdd0t89SuKrVN9a
            8uLixYg+JPvenX4zTdWrk94FNG5UI4nwajEiKd5NMw5uVPkynP5T5v3m0yjkzOfJVP74Ewe1PwzR+VRxndf9JkyjbzbUFzhEOa0PXwZvO
            fO1t4bLgUX7uvxAPeb1MiEQsQFBJJwAOpM229vp8pnGv79VV7dPj+z2bG0RuuRMcs8T/hHXP++M0UCRO72yvs6Zb/kbm3wHgsl5muau8u
            nCOj6fbOjT+XLOYiJnOgIiIAiIgCIiAIiIAiJ1X3KilnYKoGSWOAB6mAdkSuW77aFTjtGb4rW2PriSmzNsafUgmixXx1HRh6g85N05pZa
            IKpFvCZIRESBMREQCp707l06vNlZFN/iwHcs/EPP4/rKno9g6nSh0uqI73EHXv1sOnUdPnjrNXgiaaV1OCxyjJcWcK0WuDK5zNNs0tbe8
            it6qDOa9NWvuoq+igS/836OZ/hnn9/4KDodi32nuoVX+Zu6P8y27H2JXp+979mObEdPQeElcTmZ6tzOfThG+29PpUXnlnMREzm8REQBE
            RAEREAREQBERAOJnPtL2kxtTTg9xVDuPNiSBn0A/OaNMo9oKka58+KVkenDj9QZqs4p1Opmum1DoWXYm5WmNCNe
            rPY6BieNl4MjOAAfD45lT19T7N133bEhGVlz/ABIeqnz8R8pq+iYNXWR0KKR6ECZl7RXB1pA8KkB9eZ/Qy63qSnUcZPKZVXpxhBOPJf8A
            a+3qdLXXbZxlXIC8IBPTPmJEanf7SKF4RbYSASAoHD8Dk9fTMjd/VI0WiB6jgB9ezxJDdHYumt0FRsprZmFnExQcfvsPe68gJUqdONNTl
            16k3UqObjHwS2x94tPqq3essOAZdWGGUefI8+kz7ejeA36jjpstFICgDiKjI693M7Nw2K68V9VZba28iAOL/wBZxv1Sqa7hVVVeCrkFAH
            jL6VKEKzX0VVKkp0k/svmwt5KdYzLULAVUMeJQOXTlgmefbO+Gm0zms8dlg5MEAIU+RJI5yVvqSmux60RSK2buqFzgZ8JkmwtdXVebb6j
            qOTHhOD3yfeOevj9ZRSoxqZljouxdVqyhhd33NF2PvlptQ4r79bk4UWAYY+ABBkxtHaFWnrNlzhFHLJ6k+QHiZku3tbXdcLdPSa
            OQyAMd8H3hjp4fSTHtE1jPZp0PTsFtx/U5IP8AbJu1TlFLpkgrhqLz1wTj+0LTA4FVxHnhR+WZYdNtep9ONUSa6ivFl+RAzjnPJsXYOm
            roqHY1uSilmZFYsxHPJIlf9pLiunTUVgJWWdsKAq90DAwPxGVKFOc1CKwWbThFyk8nru9oOlBwtdzDzwoB9OcnNibdo1ak0scjHErDDr
            6j9xIjc/YunOirZ6q3awMzlkDE5JGMkcuWJVN3CdPtXs0J4RdbT6pkrz+gPyk3Spy2UeYkVVnFxcuGXfaG9mm097UW9oGHDxNw5QZAbz
            z4jwkdZ7QdKGwK7iufe4VHzxxSt71oG2qysMg2acEeYKJkfnJzf7ZGnq0qvVVXWwtUZRQpIIPI46yUaNJap5zIi6tR7Y7Hv1m/ejTHB
            2lpIB7q4A+B4sT3bA3mo1hZa+JbAMlXAyR0yME56yE3E2Tp7dJxW012MbHBLIGbHLxPSQO5K8O0gq9B2y/IA/78p46NNqaWcxPVVqJx
            b4ZqsRExGwREQBERAEqG/e7r6kLdSM2oOEr0LpnPI+YJPL4y3xJwm4S2RCcFNYZl2g3o12lrFDVZ4Rwp2lbhlHl4ZjY2wdTrtT2+pVl
            rL8dhdeHj8lUeXLGfITUMRL3c86xw33KPx+NnlIpXtQ/4KP8Ayn+0yF2VvPqtNpUqTT5XD9lYQ2DljnoMEgk/STvtMrZqaQoLfenoM/
            wmSu5KEaCgEEH7zIIwR940sU4xoRys9SDg3WeHjoVr2e7FtFp1NqsihStfEMFmPUgeWM/WdPtF2daNQt6ozIUUZC5CsCeR8vCaREq/J
            l7m+C38daaZKru3vI+tdqbNP2a9kxLZJDHIXHMcup+kqw0er2VqTYlZsTBUNwlkdD58PunkPpNTieRrqLeF0fYOi5JZfVdyj6Hfa+2y
            tBpMBnVWILNhSQCfdndv9u/ZqAl9K8TopRlHvMmcgjzxk8vjLliJ57yUlKCwS9puLjJ5M32dvjqqK1ps05coAqk8SNgDAyMc/wDEmNu
            aGzaWhqtVOC8EuEPLIyQV5+eAflLhEOssqUY4Z4qLw4yeUZjsrebVaOr7M2nJK5CcasrLk5wRjvczPXuTsK9tR9s1CsgBZl4hwtY7Dmc
            HoOZ/KaHElK56PVYb5IxodVl5wZpvHorW2rxrVYydrpzxBGK4CpnmJZPaFQ76QBFZ27VDhVLHo3gJZ8RIuu24vH6kvZWJLPJWtwKHTR8
            LqyN2jnDKVPh4GVndPRWrtLiauxV4ru8yMF5hscz6zTBOMR77+XT9h7K+PXg5iIlBeIiIAiIgCIiAIiIAiIgHnbVoFdie6hIc4PLAyZ3
            yC1OQuqp4LC9jt2eK2KEMqjJcDA8c5Ph6T5OlZcWrWTb9ovJ6hmT7zhBP8p7vw6SeqIbMn4kDsWtw13CAoNVXDjTvp0FmbM8nJ4j7uT6
            eU8ek0bFACGznTi5Owtr4iLF4mZmJDnHFkjr6RovJ5u/BaokCuzwjFkrKkapAhAIIqIXiA/p5t8JH6Onjqo7JLMGrT/aO46ixjbQc8wO
            Pu9rkjwMaobvwW6JWRom7R1JarvWAGvT2Fuy4Cqqtg7oAGMLjqvTM+GBKdn2KivL4f7FaQzcK4xUCGQnJ73Tuxp9jf6LHdqERkVjhnJV
            B/MQC2PoDA1CGw1574UOR5KSQD9QZE6jSPbXpA3EHChixGTXYK8hjnyaee7RWKWZwWZxW15rDEEdqOJF8SAgxjqQPjGq8hyfgsmZ8pYG
            HI55kfMHB/MSuGiwcRoWxa7HNCjhZOzrdUzYFOCoVhZ/2nPYFWVijWN2tihGpdwF7dyGR8YQ4I69QB0jReRu/BYkcMMggjzByJ9SqmkC
            pahTgA3Fi2lttxZnuhQuOo/iHLuyT2HQwNj2KRYeyHEwPFw9jVkc/6g3zEOKR6ptvgmIiJAmIiIAiIgCIiAIiIAiIgCIiAIiIAnXTUqK
            qKMKqhVHkAMATsiAIiIAiIgCIiAIiIAiIgCIiAIiIAiIgCIiAIiIAiIgCIiAIiIAiIgCIiAIiIAiIgCIiAIiIAiIgCIiAIiIAiIgCIi
            AIiIAiIgCIiAIiIAiIgCIiAIiIAiIgH//Z
        "
    />
</nav>

<mat-menu #menu="matMenu">
    <button mat-menu-item disabled>
        <mat-icon>file_download</mat-icon>
        <span>Descarga novedad</span>
    </button>
    <button mat-menu-item>
        <mat-icon>voicemail</mat-icon>
        <span>Check voice mail</span>
    </button>
    <button mat-menu-item>
        <mat-icon>logout</mat-icon>
        <span>cerrar sesión</span>
    </button>
</mat-menu>