<!-- Suggested code may be subject to a license. Learn more: ~LicenseLog:1368325630. -->
<form ngClass="login-form" onload="refreshToken()">
  <legend [ngClass]="'legend'" *ngIf="legendIsNecessary()">Autentícate antes de empezar</legend>
  <!--Add buttons to initiate auth sequence and sign out-->
  <div id="loginBtnsDiv" [ngClass]="logBtnsClasses()['signout-visible-btn'] ? 'col-reverse' :'col-normal'">
    <button
      id="authorize_button"
      [ngClass]="
        !logBtnsClasses()['authorization-visible-btn'] ? 
          'collapsed-btn' : 'authorization-visible-btn'
      "
      onclick="
        handleAuthClick();
      "
    >
      Inicio con Google
    </button>
    <button
      id="signout_button"
      [ngClass]="
        !logBtnsClasses()['signout-visible-btn'] ? 
          'collapsed-btn' : 'signout-visible-btn'
        "
      onclick="handleSignoutClick()"
    >
      Cerrar sesion
    </button>
  </div>
</form>