@if(authBtnsClasses()['signout-visible-btn']) {
  <h5 id="loginTitle">Usted ya está autenticado</h5>
} @else {
  <h5 id="loginTitle">Bienvenido a Novedades Reportec</h5>
}
<form ngClass="login-form" onload="refreshToken()">
  <img
    ngClass="optecom-img"
    src="https://erp.optecom.com.co/web/image/website/1/logo?unique=010309f"
  />
  <legend [ngClass]="'legend'" *ngIf="legendIsNecessary()">Autentíquese antes de empezar</legend>
  <!--Add buttons to initiate auth sequence and sign out-->
  <div id="loginBtnsDiv" [ngClass]="authBtnsClasses()['signout-visible-btn'] ? 'col-reverse' :'col-normal'">
    <button
      id="authorize_button"
      [ngClass]="
        !authBtnsClasses()['authorization-visible-btn'] ? 
          'collapsed-btn' : 'authorization-visible-btn'
      "
      onclick="
        handleAuthClick();
      "
    >
      Inicio con Google
    </button>
    <button
      id="signout_button"
      [ngClass]="
        !authBtnsClasses()['signout-visible-btn'] ? 
          'collapsed-btn' : 'signout-visible-btn'
        "
      onclick="handleSignoutClick()"
    >
      Cerrar sesion
    </button>
  </div>
</form>