#mainContent {
    display: flex;
    flex-direction: column;
    overflow-y: auto;
}

#mainContent > .h5 {
    margin-top: 6px;
    margin-left: 2px;
}

#mainContent #flatBtnContainer {
    display: flex;
    justify-content: flex-end;
    padding-left: 7px;
    padding-top: 4px;
}

#mainContentDiv #flatBtnContainerText {
    margin-top: 6px;
}

#mainContent .flat-btn {
    background-color: rgb(83, 148, 139);
    font-style: oblique;
    font-size: small;
    margin-left: 2rem;
    padding-left: 4px;
    padding-right: 4px;
    height: 2pc;
}

.mainContentDiv {
    display: flex;
    flex-direction: column;
    row-gap: 0.4em;
    width: 81vw;
    height: 72vh;
    overflow: auto;
    margin-bottom: 4pc;
    padding-left: 1.5pt;
    padding-right: 1.5pt;
}

.mainContentDiv > #novedadesTable {
    width: auto;
    background-color: rgb(239, 250, 248);
}

#paginator {
    position: -webkit-sticky;
    border-radius: 4px;
    outline: 1px grey solid;
    background-color: white;
    font-weight: 400;
    margin-left: auto;
    margin-top: auto;
    margin-right: auto;
    margin-bottom: 10px
}

.table-dark-background {
    background-color: rgb(221, 219, 213);
}

.table-light-background {
    background-color: white;
}

td {
    padding: 0.5em;
}

th {
    padding: 0.5em;
}

@media screen and (max-width: 576px) {
    #mainContent {
        margin-bottom: 2.4rem;
    }

    #paginator {
        width: 220.09vw;
    }
}

@media screen and (577px <= width <= 829px) {
    #mainContent {
        margin-top: 8em;
        padding-top: 6px;
        padding-bottom: 0.6rem;
    }
}

@media screen and (min-width: 830px) {
    #mainContent {
        position: fixed;
        left: 6.5rem;
        margin-bottom: 0.8em;
        padding-bottom: 0.2rem;
    }

}